[submodule "libsodium"]
	path = libsodium
	url = git@github.com:algorand/libsodium.git
[submodule "submodules/sodium-native"]
	path = submodules/sodium-native
	url = https://github.com/appliedblockchain/sodium-native
